name: Test GitHub Action

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: 23f1003184@ds.study.iitm.ac.in
        run: echo "Hello Gaurav, GitHub Action working"
